.container h2{
    margin-top: 50px;
    font-size: 2rem;
    
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details .detail{
    padding: 30px;
    margin: 0px 130px;
    width: 100%;
}
.details .detail h1{
   font-weight: 800;
   color: var(--main-color);
}
.details .detail p{
   font-weight: 800;
}
.details .detail .social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details .detail .social a{
    color: rgb(37, 197, 221);
    transition: all 0.7s;
}
.details .detail .social a:hover{
    color: rgb(125, 207, 203);
    text-decoration: underline;
}



@media screen and (max-width: 1080px) {
    .details .detail h1{
        font-size: 25px;
     }
     .details .detail p{
        font-weight: 500;
        padding-top: 10px;
        font-size: 13px;
     }
    .details .detail .social{
        padding-top: 10px;
        gap: 15px;
        font-size: 13px;
    }
    .details2{
        padding-top:10px;
        padding-right: 120px;
        width: 100%;
    }
    .details2 .detail p{
        margin-top: 10px;
        font-weight: 400;
        font-size: 12px;
    }
    
  }
  @media only screen and (max-width: 780px){
    .details{
        display: flex;
        flex-direction: column;
        margin-left: -100px;
    }
    .details .detail h1{
        font-size: 25px;
     }
     .details .detail p{
        font-size: 15px;
        width: 200px;
     }
    .details .detail .social{
        font-size: 15px;
    }
    .details2{
        display: flex;
        flex-direction: column;
    }
    .details2 .detail p{
        margin-top: 10px;
        font-weight: 400;
        font-size: 15px;
    }
    
  }
  /* for small devices */
  
  @media screen and (max-width: 350px) {
    .details{
        display: flex;
        flex-direction: column;
        margin-left: -100px;
    }
  }
  